.container {
  width: 100%;
}

main.content {
  max-width: 736px;
  width: 100%;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.createTaskField {
  max-width: 736px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: -28px;
}

.createTaskField input {
  max-width: 638px;
  width: 100%;
  padding: 1.08rem 1rem;
  border: 1.5px var(--gray-700) solid;
  color: var(--gray-100);
  border-radius: 8px;
  background: var(--gray-500);
  font-size: 1rem;
}

.createTaskField input::placeholder {
  color: var(--gray-300);
  font-size: 1rem;
}

.createTaskField input:focus {
  outline: none;
  border: 1.5px solid var(--purple-dark);
  color: var(--gray-100);
}

.createTaskField button {
  max-width: 90px;
  width: 100%;
  padding: 1.08rem 1rem;
  background: var(--blue-dark);
  color: var(--gray-100);
  border: 0;
  border-radius: 8px;
  font-size: 0.9rem;
  font-weight: 600;
  cursor: pointer;
  
  display: flex;
  justify-content: center;
  align-items: center;

  transition: 200ms background-color;
}

.createTaskField button:hover {
  background: var(--blue);
}

.createTaskField button img {
  margin-left: 6px;
}

.tasksInfo {
  margin-top: 4rem;
  padding: 2rem 0;
  width: 100%;
  
  display: flex;
  justify-content: space-between;
}

div.createdTasks .createdTasksTitle {
  color: var(--blue);
  font-size: 1rem;
  font-weight: 600;
}

div.createdTasks .createdTasksAmount {
  margin-left: 8px;
  padding: 0.2rem 0.6rem;
  font-size: 0.9rem;
  font-weight: 400;
  background: var(--gray-400);
  color: var(--gray-100);
  border-radius: 16px;
}

div.doneTasks .doneTasksTitle {
  color: var(--purple);
  font-size: 1rem;
  font-weight: 600;
}

div.doneTasks .doneTasksAmount {
  margin-left: 8px;
  padding: 0.2rem 0.6rem;
  font-size: 0.9rem;
  font-weight: 400;
  background: var(--gray-400);
  color: var(--gray-100);
  border-radius: 16px;
}

.tasksEmpty {
  max-height: 400px;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top: 1px solid var(--gray-400);
  border-radius: 8px;
}

.tasksEmpty img {
  margin-top: 3.5rem;
}

.tasksEmpty strong {
  margin-top: 2rem;
  font-size: 1.2rem;
  color: var(--gray-300);
  line-height: 0.5;
}

.tasksEmpty p {
  margin-top: 1rem;
  color: var(--gray-300);
}

section {
  width: 100%;
}

section ul {
    width: 100%;
    list-style: none;
}

@media(max-width: 765px) {
  main.content {
    padding: 0 1rem;
  }
}

@media(max-width: 315px) {
  .createdTasks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .createdTasksTitle {
    margin-bottom: 5px;
  }

  .doneTasks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .doneTasksTitle {
    margin-bottom: 5px;
  }


}