
.createAccountContainer {
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.createAccountForm {
  max-width: 22rem;
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: .75rem;
}

.logo {
  width: 100%;
  max-width: 10rem;
  align-self: center;
  margin-bottom: 1rem;
}

.createAccountTitle {
  text-align: center;
  color: var(--gray-300);
  padding: 1rem;
  font-size: 1rem;
}

.inputContainer {
  padding: .75rem .75rem;
  border-radius: 3px;
  border: none;
  background: var(--gray-500);
  color: var(--gray-100);
  border: 1.5px solid transparent;
}

.inputContainer::placeholder {
  color: var(--gray-300);
}

.inputContainer:focus {
  outline: none;
  border: 1.5px solid var(--purple-dark);
  color: var(--gray-100);
}

.createAccountButton {
  margin-top: 1rem;
  border-radius: 3px;
  border: none;
  background: var(--blue-dark);
  color: var(--gray-100);
  font-weight: bold;
  font-size: 1.25rem;

  padding: .35rem;
  cursor: pointer;

  transition: 200ms background-color;
}

.createAccountButton:hover {
  background: var(--blue);
}

